* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background: url('../images/bg.gif') no-repeat;
    background-size: cover;
}
/*************************************** 音乐banner样式-开始 ****************************************/
.mc-play {
    position: absolute; /* 让控制台的层级高于背景 */
    width: 960px;
    height: 250px;
    top: 80px;
    left: 80px;
    opacity: .8;
    box-shadow: 10px 15px 15px 1px black;
}
.mc-play > img {
    cursor: default;
}
.console {
    position: fixed;  /* 让控制台的层级高于背景 */
    width: 550px;
    height: 120px;
    background-color: black;
    left: 0;
    bottom: 50px;
    opacity: .8;
    box-shadow: 10px 15px 15px 1px black;
    transition: all 1.8s;
}
/* mc-play样式 */
li {
    list-style: none;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
}
img {
    width: 100%;
    cursor: pointer;
}
.mc-play .mc-15 {
    width: 65px;
}
.mc-play .mc-24 {
    width: 90px;
}
.mc-play .mc-1 {
    top: 30px;
    left: 90px;
}
.mc-play .mc-2 {
    top: 140px;
    left: 160px;
}
.mc-play .mc-3 {
    top: 65px;
    left: 307px;
    width: 122px;
}
.mc-play .mc-4 {
    top: 50px;
    left: 500px;
}
.mc-play .mc-5 {
    top: 160px;
    left: 580px;
}
/*************************************** 音乐banner样式-结束 ****************************************/

/*************************************** 音乐控制台样式-开始 ****************************************/
.head-pic {
    float: left;
    width: 90px;
    margin-top: 15px;
    margin-left: 10px;
}
h4 {
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
}
.m-btn {
    float: left;
    position: absolute;
    left: 320px;
}
.m-btn a {
    float: left;
    width: 35px;
    height: 35px;
    background: url("../images/player_bg.png") no-repeat;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.m-btn .m-prev {
    background-position: -68px 0;
}
.m-btn .m-prev:hover {
    background-position: -68px -32px;
}
.m-btn .m-play {
    background-position: -104px -5px;
}
.m-btn .m-play:hover {
    background-position: -104px -47px;
}
.m-btn .m-next {
    background-position: -145px 0;
}
.m-btn .m-next:hover {
    background-position: -145px -32px;
}
.m-close {
    float: right;
    width: 23px;
    height: 120px;
    background: url("../images/player_bg.png") no-repeat;
    cursor: pointer;
    margin-top: 2px;
}
.m-open {
    background-position: -46px 0;
}
body .m-hidden {
    transform: translateX(-525px);
}
/* 暂停按钮的样式，js动态替换使用 */
.m-btn .m-pause {background-position: -292px -93px;}
.m-btn .m-pause:hover {background-position: -334px -93px;}
/*************************************** 音乐控制台样式-结束 ****************************************/

/* 歌曲播放，歌手的头像360旋转 */
.active {
    animation: head_rotate 2.8s linear infinite;
}
.deactive {  /* 暂停动画 */
    animation-play-state: paused;
}
/* 旋转动画 */
@keyframes head_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*************************************** 网站底部样式-开始 ****************************************/
.copyright {
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: red;
    margin-left: 600px;
    white-space: nowrap;
}
/*************************************** 网站底部样式-结束 ****************************************/