body {
    font: 16px/28px 'Microsoft YaHei';
}

h1 {
    font-weight: 400;
    text-align: center;
}

div {
    text-align: center;
    font-size: 12px;
    color: #888888;
}
a {
    text-decoration: none;
}
.search {
    color: #666;
    width: 170px;
}
button {
    font-weight: 700;
}
p {
    text-indent: 2em;
}
.img {
    text-align: center;
}
.footer {
    color: gray;
    font-size: 12px;
}